Balance: <%= number_to_currency(@child.balance, unit: '£') %>
<table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.description %></td>
        <td>
          <%= number_to_currency(transaction.amount, unit: '£') %>
        </td>
        <td><%= transaction.created_at %></td>
      </tr>
      <% end %>
  </tbody>
</table>