<% if @children.length > 0 %>
  <table>
    <thead>
      <tr>
        <th>Child</th>
        <th>Balance</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @children.each do |child| %>
      <tr>
        <td><%= child.name %></td>
        <td>balance</td>
        <td>
          <%= link_to 'Activity', '/child/#{child.id}/summary' %> |
          <%= link_to 'Add/Subtract', '/child/#{child.id}/transaction' %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>You have no children</p>
<% end %>
<%= link_to 'Add Child', '/child/create' %>